<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AgriHelp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin_Login11</display-name>
    <servlet-name>Admin_Login11</servlet-name>
    <servlet-class>agriHelp.Admin_Login11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Login11</servlet-name>
    <url-pattern>/Admin_Login11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Agronomist11</display-name>
    <servlet-name>Add_Agronomist11</servlet-name>
    <servlet-class>agriHelp.Add_Agronomist11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Agronomist11</servlet-name>
    <url-pattern>/Add_Agronomist11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Agro11</display-name>
    <servlet-name>Delete_Agro11</servlet-name>
    <servlet-class>agriHelp.Delete_Agro11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Agro11</servlet-name>
    <url-pattern>/Delete_Agro11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Agronomist_Login22</display-name>
    <servlet-name>Agronomist_Login22</servlet-name>
    <servlet-class>agriHelp.Agronomist_Login22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Agronomist_Login22</servlet-name>
    <url-pattern>/Agronomist_Login22</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPass_Agronomist22</display-name>
    <servlet-name>ResetPass_Agronomist22</servlet-name>
    <servlet-class>agriHelp.ResetPass_Agronomist22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPass_Agronomist22</servlet-name>
    <url-pattern>/ResetPass_Agronomist22</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Farmer11</display-name>
    <servlet-name>Add_Farmer11</servlet-name>
    <servlet-class>agriHelp.Add_Farmer11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Farmer11</servlet-name>
    <url-pattern>/Add_Farmer11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Farmer11</display-name>
    <servlet-name>Delete_Farmer11</servlet-name>
    <servlet-class>agriHelp.Delete_Farmer11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Farmer11</servlet-name>
    <url-pattern>/Delete_Farmer11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Farmer_Login33</display-name>
    <servlet-name>Farmer_Login33</servlet-name>
    <servlet-class>agriHelp.Farmer_Login33</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Farmer_Login33</servlet-name>
    <url-pattern>/Farmer_Login33</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Farmer_Regester33</display-name>
    <servlet-name>Farmer_Regester33</servlet-name>
    <servlet-class>agriHelp.Farmer_Regester33</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Farmer_Regester33</servlet-name>
    <url-pattern>/Farmer_Regester33</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Farmer_Report33</display-name>
    <servlet-name>Farmer_Report33</servlet-name>
    <servlet-class>agriHelp.Farmer_Report33</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Farmer_Report33</servlet-name>
    <url-pattern>/Farmer_Report33</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Farmer_Reports33</display-name>
    <servlet-name>Farmer_Reports33</servlet-name>
    <servlet-class>agriHelp.Farmer_Reports33</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Farmer_Reports33</servlet-name>
    <url-pattern>/Farmer_Reports33</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Farmer_YourReports33</display-name>
    <servlet-name>Farmer_YourReports33</servlet-name>
    <servlet-class>agriHelp.Farmer_YourReports33</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Farmer_YourReports33</servlet-name>
    <url-pattern>/Farmer_YourReports33</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>agriHelp.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Report33</display-name>
    <servlet-name>Delete_Report33</servlet-name>
    <servlet-class>agriHelp.Delete_Report33</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Report33</servlet-name>
    <url-pattern>/Delete_Report33</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Solution22</display-name>
    <servlet-name>Add_Solution22</servlet-name>
    <servlet-class>agriHelp.Add_Solution22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Solution22</servlet-name>
    <url-pattern>/Add_Solution22</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPass_Farmer33</display-name>
    <servlet-name>ResetPass_Farmer33</servlet-name>
    <servlet-class>agriHelp.ResetPass_Farmer33</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPass_Farmer33</servlet-name>
    <url-pattern>/ResetPass_Farmer33</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_DeleteReports11</display-name>
    <servlet-name>Admin_DeleteReports11</servlet-name>
    <servlet-class>agriHelp.Admin_DeleteReports11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_DeleteReports11</servlet-name>
    <url-pattern>/Admin_DeleteReports11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_DeleteSolution11</display-name>
    <servlet-name>Admin_DeleteSolution11</servlet-name>
    <servlet-class>agriHelp.Admin_DeleteSolution11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_DeleteSolution11</servlet-name>
    <url-pattern>/Admin_DeleteSolution11</url-pattern>
  </servlet-mapping>
</web-app>